<ion-header>
  <ion-toolbar>
    <ion-title>Logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img src="assets/1.jpg" alt="product-photo">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Brand</ion-card-subtitle>
        <ion-card-title>Product Name</ion-card-title><br>
        <ion-label>Price</ion-label>


      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Quantity</ion-label>
          <ion-input type="number" min="1" value="1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="addToCart()">Add to Cart</ion-button>        <ion-button>Add to Wishlist</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="More">
      <ion-header><h1>MORE PRODUCTS LIKE THIS</h1></ion-header>
      
      <div class="item-slider">

        <ion-slides [options]="slideOpts">
  
          <ion-slide *ngFor="let item of brews">
            <ion-col>
              <ion-card class="ion-margin-top">
                <ion-card-header class="ion-no-padding">
                  <img src="assets/2.jpg">
                  <ion-card-title class="ion-padding">ProductName:{{ item.name }}</ion-card-title>
                </ion-card-header>
    
                <ion-card-content>
                 Brand Name:{{ item.state }}
                </ion-card-content>
    
              </ion-card>
            </ion-col>
          </ion-slide>
  
        </ion-slides>
      </div>


        
      </div>
    </ion-content>
    