 ion-thumbnail{
    width: 40%;
    height: 60%;
 }
 ul{
    list-style-type: none;
 }
 ion-title{
    color: black;
 }
 ion-list{
   --ion-item-background: #ff876c;

}
h2{
   color: #003049;
   font-weight: 700;
   font-weight: bold;
}
h4{
   color:#4682b4;
   font-weight: bold;
}
h3{
  color:#d62828;
  font-weight: bold;
}
ion-title{
   color: white;
}
.head{
   color: white;
}